{% load i18n %}
{% load static %}
<div class="div-dashboard">
    <div class="card-heading1">
        {% trans "Summary" %}
    </div>

    <div class="detail-boxes" role="alert">
        <div class="detail-boxes__box alert alert-warning">
            <div class="three-dot">
                <i class='bx bx-dots-vertical-rounded'></i>
            </div>
            <div class="box-icon">
                <i class='bx bx-calendar-alt'></i>
            </div>
            <p class="total-no">{{ course_count }}</p>
            <p class="box__text"><span>{% trans "Total Courses" %}</span></p>
        </div>

        <div class="detail-boxes__box alert alert-warning" role="alert">
            <div class="three-dot">
                <i class='bx bx-dots-vertical-rounded'></i>
            </div>
            <div class="box-icon">
                <i class='bx bx-trending-up'></i>
            </div>
            <p class="total-no">{{ student_count }}</p>
            <p class="box__text">
                <span>{% trans "Total Students Counts" %}</span></p>
        </div>

        <div class="detail-boxes__box alert alert-warning" role="alert">
            <div class="three-dot">
                <i class='bx bx-dots-vertical-rounded'></i>
            </div>
            <div class="box-icon">
                <i class='bx bx-clipboard'></i>
            </div>
            <p class="total-no">{{ instructor_count }}</p>
            <p class="box__text"><span>{% trans "Total Instructor" %}</span></p>
        </div>

        <div class="detail-boxes__box alert alert-warning" role="alert">
            <div class="three-dot">
                <i class='bx bx-dots-vertical-rounded'></i>
            </div>
            <div class="box-icon">
                <i class='bx bx-check-circle'></i>
            </div>
            <p class="total-no">{{ user_count }}</p>
            <p class="box__text"><span>{% trans "Total Users" %}</span></p>
        </div>
    </div>
</div>