.errorlist li {
    color: red;
}

.message-success {
    color: green;
}

.message-error {
    color: red;
}

.message-info {
    color: red;
}

.select-lang{
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: fit-content;
}