{% load static %}
{% load i18n %}
{% load get_group %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">SN</th>
        <th scope="col">Course Code</th>
        <th scope="col">Name</th>
        <th scope="col">Creator</th>
        <th scope="col">Modifier</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
        <th scope="col">Action</th>
    </tr>
    </thead>
    <tbody>
    {% for course in courses %}
        <tr>
            <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
            <td>{{ course.course_code }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.creator }}</td>
            <td>{{ course.modifier }}</td>
            <td>{{ course.created_at }}</td>
            <td>{{ course.modified_at }}</td>
            <td>
                {% if request.user|has_group:'admin' or request.user|has_group:'instructor' %}
                    <a class="text-decoration-none btn btn-primary"
                       href="{% url 'students:course_enrolled_student_list' course.id %}">
                        <i class='bx bx-spreadsheet'></i>
                    </a>
                    <a class="text-decoration-none btn btn-warning" href="{% url 'students:course_edit' course.id %}">
                        <i class="bx bx-edit"></i>
                    </a>
                    <a class="text-decoration-none btn btn-danger" href="{% url 'students:course_delete' course.id %}">
                        <i class='bx bx-trash'></i>
                    </a>
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% include 'components/pagination_component.html' with obj=students filter_fields=filter_fields %}