{% load i18n %}
{% load static %}
<div class="top-bar">
    <div class="filter-tools">
        <form>
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <input type="search" class="form-control" name="search" id="search" placeholder="Search here..." value="{{ search }}">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        <div class="right-tools">
            <a class="content-header__add-btn text-decoration-none" href="{% url 'students:course_add' %}">
                {% trans "Add Course" %}
            </a>
        </div>

    </div>
</div>
