<div class="container mt-5">
    <div class="card">
        <div class="card-body p-5">
            <h2 class="mb-4">Edit Course</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="row mb-4">
                    <div class="col">
                        {{ form.name }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        {{ form.description }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>