{% extends 'base_auth.html' %}
{% load i18n %}
{% load static %}
{% block header %}
    <link rel="stylesheet" href="{% static 'css/components/400-error.css' %}">
{% endblock header %}
{% block content %}
    <div class="d-flex align-items-center justify-content-center vh-100 bg-light">
        <div class="text-center p-4">
            <img src="{% static 'img/400-Bad-Request-Error.jpg' %}" alt="400 Bad Request" class="img-fluid mb-4 error-img">
            <h1 class="text-danger error-heading">{% trans "Bad Request" %}</h1>
            <p class="lead error-text">{% trans "The server is unable to process the request." %}</p>
{#            <a href="#" class="btn back-to-home">{% trans "Go to Homepage" %}</a>#}
        </div>
    </div>
{% endblock content %}
