{% load static %}
{% load i18n %}
{% url "students:dashboard" as dashboard_url %}
{% url 'user:logout' as logout_url %}

<div class="sidebar" id="sidebar">
    <div class="logo-details text-center">
        <a href="{{ dashboard_url }}" class="anchor-logo-style">
            <i class='bx  bxs-school logo_name'></i>
            <i class='bx  bxs-school logo_name_small'></i>
        </a>
    </div>
    <hr class="hr-line"/>
    <ul class="nav-links">
        <li class="hover-reveal {% if request.path == dashboard_url %} active_sidebar {% endif %}">
            <a href="{{ dashboard_url }}" class="d-flex align-items-center hoverable-link">
                <i class='bx bxs-dashboard'></i>
                <span class="link_name">{% trans "Dashboard" %}</span>
            </a>
            <div class="hover-label">
                <a href="{{ dashboard_url }}" class="hoverable-link">{% trans "Dashboard" %}</a>
            </div>
        </li>
        <li class="hover-reveal {% if request.path == jungle_entrance %} active_sidebar {% endif %}">
            <a href="{{ student_list_url }}" class="hoverable-link"><i class='bx bxs-graduation'></i><span
                    class="link_name">{% trans "Students" %}</span></a>
            <div class="hover-label">
                <a href="{{ student_list_url }}" class="hoverable-link">{% trans "Students" %}</a>
            </div>
        </li>
        <li class="hover-reveal {% if request.path == jungle_entrance %} active_sidebar {% endif %}">
            <a href="{{ course_list_url }}" class="hoverable-link"><i class='bx bx-book-open'></i><span
                    class="link_name">{% trans "Course" %}</span></a>
            <div class="hover-label">
                <a href="{{ course_list_url }}" class="hoverable-link">{% trans "Course" %}</a>
            </div>
        </li>
        <li class="hover-reveal {% if request.path == land_grass %} active_sidebar {% endif %}">
            <a href="{{ instructor_list_url }}" class="hoverable-link"><i class='bx bx-user' ></i><span
                    class="link_name">{% trans "Instructor" %}</span></a>
            <div class="hover-label">
                <a href="{{ instructor_list_url }}" class="hoverable-link">{% trans "Instructor" %}</a>
            </div>
        </li>
        <li class="hover-reveal {% if request.path == land_grass %} active_sidebar {% endif %}">
            <a href="{{ user_list_url }}" class="hoverable-link"><i class='bx bx-user-circle'></i><span
                    class="link_name">{% trans "Users" %}</span></a>
            <div class="hover-label">
                <a href="{{ user_list_url }}" class="hoverable-link">{% trans "Users" %}</a>
            </div>
        </li>
        <li class="hover-reveal">
            <a href="{% url 'user:logout' %}" class="hoverable-link"><i class='bx bx-log-out'></i><span
                    class="link_name">{% trans "Log Out" %}</span></a>
            <div class="hover-label">
                <a href="{% url 'user:logout' %}" class="hoverable-link">{% trans "Log Out" %}</a>
            </div>
        </li>
    </ul>
</div>

<div class="home-section" id="mainContent">
    <div id="side-arrow">
        <i class='bx bx-chevron-left'></i>
    </div>
    <div class="mobile__menu-button" id="mobile__menu-button">
        <i class='bx bx-menu'></i>
    </div>
    <div class="mobile__menu-button" id="mobile__close-button">
        <i class='bx bx-x'></i>
    </div>
</div>
