{% load static %}
{% load i18n %}
{% load get_group %}
{% url "students:dashboard" as dashboard_url %}
{% url "students:student_list" as student_list_url %}
{% url "students:course_list" as course_list_url %}
{% url "students:instructor_list" as instructor_list_url %}
{% url "students:enrolled_course_list" as enrolled_course_list_url %}
{% url 'user:logout' as logout_url %}

<div class="sidebar" id="sidebar">
    <div class="logo-details text-center">
        <a href="{{ dashboard_url }}" class="anchor-logo-style">
            <i class='bx  bxs-school logo_name'></i>
            <i class='bx  bxs-school logo_name_small'></i>
        </a>
    </div>
    <hr class="hr-line"/>
    <ul class="nav-links">
        <li class="hover-reveal {% if request.path == dashboard_url %} active_sidebar {% endif %}">
            <a href="{{ dashboard_url }}" class="d-flex align-items-center hoverable-link">
                <i class='bx bxs-dashboard'></i>
                <span class="link_name">{% trans "Dashboard" %}</span>
            </a>
            <div class="hover-label">
                <a href="{{ dashboard_url }}" class="hoverable-link">{% trans "Dashboard" %}</a>
            </div>
        </li>
        {% if request.user|has_group:"admin" %}
            <li class="hover-reveal {% if request.path == student_list_url %} active_sidebar {% endif %}">
                <a href="{{ student_list_url }}" class="hoverable-link"><i class='bx bxs-graduation'></i><span
                        class="link_name">{% trans "Students" %}</span></a>
                <div class="hover-label">
                    <a href="{{ student_list_url }}" class="hoverable-link">{% trans "Students" %}</a>
                </div>
            </li>
        {% endif %}
        {% if request.user|has_group:"admin" or request.user|has_group:"instructor" %}
            <li class="hover-reveal {% if request.path == course_list_url %} active_sidebar {% endif %}">
                <a href="{{ course_list_url }}" class="hoverable-link"><i class='bx bx-book-open'></i><span
                        class="link_name">{% trans "Course" %}</span></a>
                <div class="hover-label">
                    <a href="{{ course_list_url }}" class="hoverable-link">{% trans "Course" %}</a>
                </div>
            </li>
        {% endif %}
        {% if request.user|has_group:"admin" %}
            <li class="hover-reveal {% if request.path == instructor_list_url %} active_sidebar {% endif %}">
                <a href="{{ instructor_list_url }}" class="hoverable-link"><i class='bx bx-user'></i><span
                        class="link_name">{% trans "Instructor" %}</span></a>
                <div class="hover-label">
                    <a href="{{ instructor_list_url }}" class="hoverable-link">{% trans "Instructor" %}</a>
                </div>
            </li>
        {% endif %}
        {% if request.user|has_group:"student" %}
            <li class="hover-reveal {% if request.path == enrolled_course_list_url %} active_sidebar {% endif %}">
                <a href="{{ enrolled_course_list_url }}" class="hoverable-link"><i class='bx bxs-book-content'></i><span
                        class="link_name">{% trans "Enrolled Courses" %}</span></a>
                <div class="hover-label">
                    <a href="{{ enrolled_course_list_url }}" class="hoverable-link">{% trans "Enrolled Courses" %}</a>
                </div>
            </li>
        {% endif %}
        <li class="hover-reveal">
            <a href="{% url 'user:logout' %}" class="hoverable-link"><i class='bx bx-log-out'></i><span
                    class="link_name">{% trans "Log Out" %}</span></a>
            <div class="hover-label">
                <a href="{% url 'user:logout' %}" class="hoverable-link">{% trans "Log Out" %}</a>
            </div>
        </li>
    </ul>
</div>

<div class="home-section" id="mainContent">
    <div id="side-arrow">
        <i class='bx bx-chevron-left'></i>
    </div>
    <div class="mobile__menu-button" id="mobile__menu-button">
        <i class='bx bx-menu'></i>
    </div>
    <div class="mobile__menu-button" id="mobile__close-button">
        <i class='bx bx-x'></i>
    </div>
</div>
