{% extends 'base_auth.html' %}
{% load i18n %}
{% load static %}

{% block title %}Forget Password{% endblock title %}

{% block header %}
<link rel="stylesheet" href="{% static 'css/user/forgot_password.css' %}">
{% endblock header %}
{% block content %}
    <div class="div-body">
       <div class="container">
      <div id="auth-translations"
             data-reset-link-sent="{% trans 'Password reset link has been sent to your email!' %}"
             data-valid-email="{% trans 'Please enter a valid email address.' %}">
        </div>

        <div id="forgotPage" class="page active">
            <div class="header">
                <h1 class="title">{% trans "Forgot password" %}</h1>
            </div>

            <form id="forgotForm" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="forgotEmail">
                        <i class='bx bx-user input-icon-left'></i>{% trans "Username/Email" %}
                    </label>
                    <div class="input-wrapper">
                        <input type="email" id="id_email" name="email" placeholder="Email" required>
                    </div>
                </div>

                <button type="submit" class="submit-btn">{% trans "Submit" %}</button>
            </form>

            <div class="back-link">
                <a href="{% url 'user:login' %}">← {% trans "Return Login Page" %}</a>
            </div>
        </div>
    </div>
    </div>

{% endblock content %}

{% block scripts %}
{#    <script>const resetPasswordUrl = "{% url 'reset_password' %}";</script>#}
{#<script src="{% static 'js/user/forgot_password.js' %}"></script>#}
{#         <script src="{% static 'js/show-alert.js' %}"></script>#}
{% endblock scripts %}
