{% extends 'base_auth.html' %}
{% load i18n %}
{% load static %}

{% block title %}Set New Password{% endblock title %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/user/reset_password.css' %}">
{% endblock header %}

{% block content %}
    <div class="div-body">
        <div class="container">
            <div id="auth-translations"
                 data-password-length="{% trans 'Password must be at least 6 characters long!' %}"
                 data-password-requirements="{% trans 'Password must contain at least one uppercase letter and one number!' %}"
                 data-password-mismatch="{% trans 'Passwords do not match!' %}"
                 data-password-success="{% trans 'Password changed successfully!' %}">
            </div>

            <div id="resetPage" class="page active">
                {% if form.new_password1 %}
                    <div class="header">
                        <h1 class="title">{% trans "Set New Password" %}</h1>
                    </div>
                {% endif %}
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %}
                            class="message-{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                    {% for error in form.old_password.errors %}
                        <li class="message-info" role="alert">{{ error }}</li>
                    {% endfor %}
                    {% for error in form.new_password1.errors %}
                        <li class="message-info" role="alert">{{ error }}</li>
                    {% endfor %}
                    {% for error in form.new_password2.errors %}
                        <li class="message-info" role="alert">{{ error }}</li>
                    {% endfor %}
                </ul>
                {% if form.new_password1 %}
                    <form id="resetForm" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="newPassword">
                                <i class='bx bx-lock-alt input-icon-left'></i>{% trans "New Password" %}
                            </label>
                            <div class="input-wrapper">
                                <input type="password" id="id_new_password1" name="new_password1"
                                       placeholder="New Password"
                                       required/>
                                <i class='bx bx-show password-toggle'
                                   onclick="togglePasswordVisibility('id_new_password1', this)"></i>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="confirmPassword">
                                <i class='bx bx-lock-alt input-icon-left'></i>{% trans "Confirm Password" %}
                            </label>
                            <div class="input-wrapper">
                                <input type="password" id="id_new_password2" name="new_password2"
                                       placeholder="Confirm Password" required>
                                <i class='bx bx-show password-toggle'
                                   onclick="togglePasswordVisibility('id_new_password2', this)"></i>
                            </div>
                        </div>

                        <input type="submit" class="submit-btn" value="Submit">
                    </form>
                {% else %}
                    <ul class="messages">
                        <li class="message-info">The activation link is expired.</li>
                    </ul>
                {% endif %}

                <div class="back-link">
                    <a href="{% url 'user:login' %}">← {% trans "Return Back To Login page" %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script>
        const loginUrl = "{% url 'user:login' %}";
    </script>
    <script src="{% static 'js/user/reset_password.js' %}"></script>
    <script src="{% static 'js/password-visibility.js' %}"></script>
    {#       <script src="{% static 'js/show-alert.js' %}"></script>#}
{% endblock scripts %}
