<div class="container mt-5">
    <div class="card">
        <div class="card-body p-5">
            <h2 class="mb-4">Add Student</h2>
            <form method="POST">
                {% csrf_token %}
                <div class="row mb-4">
                    <div class="col">
                        {{ form.first_name }}
                    </div>
                    <div class="col">
                        {{ form.middle_name }}
                    </div>
                    <div class="col">
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        {{ form.email }}
                    </div>
                    <div class="col">
                        {{ form.phone_number }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        {{ form.dob }}
                    </div>
                    <div class="col">
                        {{ form.gender }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        {{ form.address }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>